All the IPython Notebooks in this lecture series are available at https://github.com/rajathkumarmp/Python-Lectures

# Print Statement

The **print** statement can be used in the following different ways :

In [1]:
print("Hello World")

Hello World

In Python, single, double and triple quotes are used to denote a string.
Most use single quotes when declaring a single character. 
Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

In [2]:
print('Hey')

Hey

Multi-line strings

In [3]:
"""My name is Rajath Kumar M.P.

I love Python."""

'My name is Rajath Kumar M.P.\n\nI love Python.'

String concatenation is the "addition" of two strings. Observe that while concatenating there will be no space between the strings.

In [5]:
string1 = "World"
string2 = "!"
'Hello ' + string1 + string2

'Hello World!'

### Formatting strings

In [7]:
f"Hello {string1}"

'Hello World'

## Other Examples

The following are other different ways strings can be put to use.

In [14]:
'_A' * 10

'_A_A_A_A_A_A_A_A_A_A'

In [16]:
print("Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [17]:
print("I want \\n to be printed.")

I want \n to be printed.

In [18]:
print """
Routine:
\t- Eat
\t- Sleep\n\t- Repeat
"""

Routine:
	- Eat
	- Sleep
	- Repeat