All the IPython Notebooks in this lecture series are available at https://github.com/rajathkumarmp/Python-Lectures

# The Zen Of Python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Variables

A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [2]:
x = 2
y = 5
xy = 'Hey'

In [5]:
print(x + y)

7

In [6]:
print(xy)

Hey

Multiple variables can be assigned with the same value.

In [7]:
x = y = 1

In [8]:
print(x, y)

1 1

# Operators

## Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [9]:
1+2

3

In [10]:
2-1

1

In [11]:
1*2

2

In [12]:
1/2

0.5

0? This is because both the numerator and denominator are integers but the result is a float value hence an integer value is returned. By changing either the numerator or the denominator to float, correct answer can be obtained.

In [13]:
1/2.0

0.5

In [14]:
15%10

5

Floor division is nothing but converting the result so obtained to the nearest integer.

In [15]:
2.8//2.0

1.0

## Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [16]:
z = 1

In [17]:
z == 1

True

In [18]:
z > 1

False

## Bitwise Operators

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

In [19]:
a = 2 #10
b = 3 #11

In [22]:
print(a & b)
print(bin(a & b))

2
0b10

In [24]:
5 >> 1

2

0000 0101 -> 5 

Shifting the digits by 1 to the right and zero padding

0000 0010 -> 2

In [25]:
5 << 1

10

0000 0101 -> 5 

Shifting the digits by 1 to the left and zero padding

0000 1010 -> 10

#Built-in Functions

Python comes loaded with pre-built functions

## Conversion from one system to another

Conversion from hexadecimal to decimal is done by adding prefix **0x** to the hexadecimal value or vice versa by using built in **hex( )**, Octal to decimal by adding prefix **0** to the octal value or vice versa by using built in function **oct( )**.

In [20]:
hex(170)

'0xaa'

In [21]:
0xAA

170

In [22]:
oct(8)

'010'

In [23]:
010

8

**int( )** accepts two values when used for conversion, one is the value in a different number system and the other is its base. Note that input number in the different number system should be of string type.

In [28]:
int('1010', 2)

10

**int( )** can also be used to get only the integer value of a float number or can be used to convert a number which is of type string to integer format. Similarly, the function **str( )** can be used to convert the integer back to string format

In [29]:
int('7')

7

Also note that function **bin( )** is used for binary and **float( )** for decimal/float values. **chr( )** is used for converting ASCII to its alphabet equivalent, **ord( )** is used for the other way round.

In [26]:
chr(98)

'b'

In [27]:
ord('b')

98

## Simplifying Arithmetic Operations

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [30]:
round(5.6231)

6

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [34]:
pow(3,3)

27

**range( )** function outputs the integers of the specified range. It can also be used to generate a series by specifying the difference between the two numbers within a particular range. The elements are returned in a list (will be discussing in detail later.)

In [38]:
list(range(3))

[0, 1, 2]